{% extends "main.html" %}
{% load static %}

{% block 'title' %}Cadastro{% endblock %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

{% endblock %}

{% block 'dashboard' %}
    <section class="dashboard">
        <div class="adicionar-cliente">
            <form action="{% url 'home'%}" method="POST" name="adicionar-gasto"> {% csrf_token %}
                    <div class="col-md">
                        <p>Data</p>
                        <input type="date" class="form-control" placeholder="Data" name="data">
                    </div>
                    <div class="col-md">
                        <p>Responsável:</p>
                        <input type="text" class="form-control" placeholder="Responsável" name="responsavel">
                    </div>
                </div>
                <br>
                <p>Descricão</p>
                <input type="email" class="form-control" placeholder="Decrição do lançamento" name="descricao">
                <br>
                <label for="tipo">Tipo</label>
                    <select class="form-control" name="tipolist" form="adicionar-gasto">
                        <option value=""></option>
                        <option value="despesa">Despesa</option>
                        <option value="receita">Receita</option>
                    </select>
                <br>
                <p>Valor</p>
                <input type="number" class="form-control" placeholder="Valor" name="tipo">
                </div>
      
                <br>
                <input type="submit" value="Cadastrar" class="btn-principal">
      
            </form>
            
        </div>


    </section>

{% endblock %}