{% extends "main.html" %}
{% load static %}

{% block 'title' %}Listar cadastros{% endblock %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

{% endblock %}

{% block 'dashboard' %}
<div class="offset-0 col-10 list-div">
    <h1>Cadastros</h1>
    <div class="col-2 add-div">
        <i class="fa-solid fa-plus" style="color: #ffffff;"></i> Adicionar
    </div>
    <div class="col-3 search-div" style="padding: 10px;">
        <input class="text-card" type="date" id="search" name="search" placeholder="Buscar por data">
        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
    </div>
  
        {% for cadastro in cadastros %}
        <ul class="cadastro-list">
            <div style="justify-content: space-around;">
                <span>{{cadastro.data}} |</span> 
                <span>{{cadastro.responsavel}} |</span>
                <span>{{cadastro.descricao}} |</span>
                <span><i class="fas fa-trash"></i></span>
                <span><i class="fas fa-edit"></i></span>
            </div>
        </ul>
        {% endfor %}

</div>
    
{% endblock %}