{% extends "main.html" %}
{% load static %}

{% block 'title' %}Cadastro{% endblock %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

{% endblock %}

{% block 'dashboard' %}

    <form action="{% url 'cadastro' %}" method="post" style="justify-content: space-around;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-principal">Salvar</button>
    </form>
    {% if form.errors %}
        <p>Por favor, corrija os seguintes erros:</p>
        {{ form.errors }}
    {% endif %}


{% endblock %}